<!DOCTYPE html>
<html>

<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="icon" href="">
	<title>Let´s Answer!</title>
	<link rel="stylesheet" type="text/css" href="css/amigos.css" media="screen" />
</head>

<body>
	<div class="contenedor">
		<div class="header">
				<div class = "Userlogged"> 
						<div class=" foto">
							<img src= "/imagenUsuario" class = "fotos">
						</div>
						<div class = "Usuario">
							<%=usuariologeado%>
						</div>
					</div>
			<div class="titulo">Let´s Talk!</div>
			<div class="botones">
				<div class="Preguntas">
					<a href="\profile">
						PERFIL
					</a>
				</div>
				<div class="Seleccionado">
					<a href="#">
						AMIGOS
					</a>
				</div>
				<div class="Preguntas">
					<a href="preguntasAleatorias">
						PREGUNTAS
					</a>
				</div>
				<div class="Desconectar">
					<a href="/logout">
						DESCONECTAR
					</a>
				</div>
				<div class="Puntos">
					<a href="#">
						a
					</a>
				</div>
			</div>
		</div>
		<div class="Actual">
			<!--Esto es para darle al usuario un feedback de en que parte de la pagina esta.-->
			Actualmente estas en: Amigos
		</div>
		<div class="Info_amigos">
			<div class="solicitudes">
				<div class="subtitulo">
					Solicitudes de amigo
				</div>
				<div class="peticiones">
					<ul>
						<% posiblesamigos.forEach(function(usuario) { %>
						<li>
							<div class="peticion">
								<div class="fotos">
									<%= usuario.Imagen_perfil %>
								</div>
								<div class="Nombre">
									<%= usuario.nombre %>
								</div>

								<div class="botones">
									<div class="btn"> <a href="/aceptarAmistad/<%=usuario.id%>" class="btn">Aceptar</a></div>
									<div class="btn"> <a href="/rechazarAmistad/<%=usuario.id%>" class="btn">Rechazar</a></div>
								</div>
							</div>
						</li>
						<% }); %>
					
					</ul>
				</div>
			</div>
			<div class="buscador">
				<div class="subtitulo">
					Busqueda de amigos
				</div>
				<div class="buscador">
					<div class="buscarpor">
						Buscar por nombre
					</div>
					<div class="barrabusqueda">
						<form method="POST" action="/buscarAmigo">
							<input type="text" name="buscadorAmigo">
							<input type="submit" name="Buscar">
						</form>
					</div>
					<div class="btnBuscar">

					</div>
				</div>

			</div>
			
			<div class="amigosya">
				<div class="subtitulo">
					Mis amigos
				</div>
				<div class="Amigos">
					<ul>
				
						<% amigosya.forEach(function(usuario) { %>
						<li>
							<div class="amigo">
								<div class="fotos">
									<%if (usuario.Imagen_perfil){ %> 
								<img src=<%=usuario.Imagen_perfil %>	
								 <%} else {%>	
										<img class = "fotos" src= "../img/NoPerfil.jpg" >
										<%}%>
								</div>
								<div class="NombreAmigo">
									<%= usuario.nombre %> 
								</div>
							</div>
						</li>
						<% }); %>
					
					</ul>


				</div>
			</div>
		</div>

	</div>
</body>

</html>