<!DOCTYPE html>
<html>

<head>
    
    <meta charset="utf-8">
    <link rel="icon" href="">
    <title>Let´s Answer!</title>
    <link rel="stylesheet" type="text/css" href="../css/contestarPregunta.css" media="screen" />
</head>

<body>
    <div class="contenedor">
        <div class="header">
            	<div class = "Userlogged"> 
                        <div class=" foto">
                            <img src  = "/imagenUsuario"class = "fotos">
                        </div>
                        <div class = "Usuario">
                            <%=usuariologeado%>
                        </div>
                    </div>
            <div class="titulo">Let´s Answer!</div>
            <div class="botones">
                <div class="Amigos">
                    <a href="/usuarios/profile">
                        PERFIL
                    </a>
                </div>
                <div class="Amigos">
                    <a href="/usuarios/amigos">
                        AMIGOS
                    </a>
                </div>
                <div class="Seleccionado">
                    <a href="#">
                        PREGUNTAS
                    </a>
                </div>
                <div class="Desconectar">
                    <a href="/usuarios/logout">
                        DESCONECTAR
                    </a>
                </div>
                <div class="Puntos">
                    <a href="#">
                        a
                    </a>
                </div>
            </div>
        </div>
        <div class="Actual">
            <!--Esto es para darle al usuario un feedback de en que parte de la pagina esta.-->
            Actualmente estas en: Preguntas
        </div>
        <div class="contenido">
            <form method="POST" action="/preguntas/contestarPregunta">
                <input type="hidden" name="id"value="<%= pregunta.id %>"> 
                <input type="hidden" name="respuestas"value="<%= pregunta.respuestas %>">
                <%= pregunta.pregunta %>
                
                <% for(let i = 0; i < pregunta.respuestas.length; i++){ %>
                <div class="respuesta">
                    <input type="radio" name="radio" value="R<%=i%>" id="form<%=i%>">
                    <label for="form<%=i%>"> <%= pregunta.respuestas[i].replace(",","") %></label>
                </div>
                <% }; %>
                <div class="propio">
                    <input type="radio" name="propio" value="propio" >
                    <input type="text" name="texto" id="formTexto">
                </div>
                <div class="enviar">
                    <input type="submit" value="Enviar">
                </div>
            </form>
        </div>
    </div>
</body>

</html>