<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel ="icon" href= "">
	<title>Let´s Talk!</title>
	<link rel="stylesheet" type ="text/css" href="css/perfil.css" media="screen"/>
</head>
<body>
	<div class="contenedor">
		<div class="header">
			<div class = "Userlogged"> 
				<div class=" foto">
					<img src= "/imagenUsuario" class ="foto">
				</div>
				<div class = "Usuario">
					<%=usuariologeado%>
				</div>
			</div>
			<div class="titulo">Let´s Talk!</div>
			<div class="botones">
				<div class="Perfil">
					<a href="#">
						PERFIL
					</a>
				</div>
				<div class="Amigos">
					<a href="\amigos">
						AMIGOS
					</a>
				</div>
				<div class="Preguntas">
					<a href="\preguntasAleatorias">
						PREGUNTAS
					</a>
				</div>
				<div class="Desconectar">
					<a href="/logout">
						DESCONECTAR
					</a>
				</div>
				<div class="Puntos">
					<a href="#">
						a
					</a>
				</div>
			</div>
		</div>
		<div class="Actual"> <!--Esto es para darle al usuario un feedback de en que parte de la pagina esta.-->
			Actualmente estas en: Tu perfil
		</div>
		<div class="Info_perfil">
			<img src="/imagenUsuario" height="100" width="100">
			<div class="Informacion">
				<div class="Nombre">
					<%= nombre %>
				</div>
				<div class="info">
					<%= edad %>
				</div>
				<div class="info">
					<%= sexo %>
				</div>
				<div class="info">
					<%= puntos %>
				</div>
			</div>
		</div>
			<div class="ModificarPerfil">
				<a href="/modify" >Modificar Perfil</a>
			</div>
	</div>
</body>
</html>