<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<link rel="icon" href="img/icon.jpg">
	<title>Let´s Answer!</title>
	<link rel="stylesheet" type ="text/css" href="../css/perfil.css" media="screen"/>
</head>

<body>
	<div class="contenedor">
		<div class="header">
			<div class="Userlogged">
				<div class=" foto">
					<img src="/usuarios/imagenUsuario" class="fotos">
				</div>
				<div class="Usuario">
					<%=usuariologeado%>
				</div>
				<div class="puntos">
					<%=puntos%> puntos
				</div>
			</div>
			<div class="titulo">Let´s Answer!</div>
			<div class="botones">
				<div class="Perfil">
					<a href="/usuarios/profile">
						PERFIL
					</a>
				</div>
				<div class="Amigos">
					<a href="/usuarios/amigos">
						AMIGOS
					</a>
				</div>
				<div class="Preguntas">
					<a href="/preguntas/preguntasAleatorias">
						PREGUNTAS
					</a>
				</div>
				<div class="Desconectar">
					<a href="/usuarios/logout">
						DESCONECTAR
					</a>
				</div>
			</div>
		</div>
		<div class="Actual"> <!--Esto es para darle al usuario un feedback de en que parte de la pagina esta.-->
			Actualmente estas en: Perfil
		</div>
		<div class="Info_perfil">
			<img src="<%=amigo%>" height="100" width="100">
			<div class="Informacion">
				<div class="Nombre">
					<%= nombre %>
				</div>
				<div class="info">
					<%= edad %>
				</div>
				<div class="info">
					<%= sexo %>
				</div>
				<div class="info">
					<%= puntos %> puntos
				</div>
			</div>
		</div>
		<div class="fotosUsuario">
			<% for(let i = 0; i < fotos.length; i++){ %>

				<img src= <%=fotos[i].foto %> height="100" width="100">

			<% } %>
		</div>
		<% if (<%=propio%>) { %>
		<div class="ModificarPerfil">
			<a href="/usuarios/modify">Modificar Perfil</a>
		</div>
		<% } %>
	</div>
</body>

</html>