<!DOCTYPE html>
<html>

<head>
    
    <meta charset="utf-8">
    <link rel ="icon" href= "img/icon.jpg">
    <title>Let´s Answer!</title>
    <link rel="stylesheet" type="text/css" href="../css/pregunta.css" media="screen" />
</head>

<body>
    <div class="contenedor">
        <div class="header">
            	<div class = "Userlogged"> 
                        <div class=" foto">
                            <img src  = "/usuarios/imagenUsuario"class = "fotos">
                        </div>
                        <div class = "Usuario">
                            <%=usuariologeado%>
                        </div>
                        <div class= "puntos">
                                <%=puntos%> puntos
                            </div>
                    </div>
            <div class="titulo">Let´s Answer!</div>
            <div class="botones">
                <div class="Perfil">
                    <a href="/usuarios/profile">
                        PERFIL
                    </a>
                </div>
                <div class="Amigos">
                    <a href="/usuarios/amigos">
                        AMIGOS
                    </a>
                </div>
                <div class="Preguntas">
                    <a href="/preguntas/preguntasAleatorias">
                        PREGUNTAS
                    </a>
                </div>
                <div class="Desconectar">
                    <a href="/usuarios/logout">
                        DESCONECTAR
                    </a>
                </div>
            </div>
        </div>
        <div class="Actual">
            <!--Esto es para darle al usuario un feedback de en que parte de la pagina esta.-->
            Actualmente estas en: Preguntas
        </div>
        <div class="contenido">
            <% if (contestado === 0) { %>
            <h1>
                <%= pregunta.pregunta %>
            </h1>
            <div class="pregunta_contestada">
                <h3>No has cotestado a esta pregunta</h3>
                <a href="/preguntas/contestarPregunta/<%= pregunta.id %>">
                    Contestar pregunta
                </a>
            </div>
            <% }else{ %>
            <div class="pregunta_contestada">
                <h3>Ya has contestado a esta pregunta</h3>
            </div>
            <% } %>
            <div class="amigos_contestaron">
                <h3>Los siguientes amigos contestaron a la pregunta</h3>

                <% for (var [clave, valor] of infoUsuarios) { %>

                <% if(valor.respondido === true) { %>
                <div class="amigo">
                    <div class="info_amigo">
                        <div class="fotoAmigo">
                            <img src ="/usuarios/imagenUsuario/<%=clave%>" class="fotoAmigo">
                        </div>
                        <div class="NombreAmigo">
                            <%= valor.nombre %>
                        </div>
                    </div>
                    <% if(valor.correcto === 1) { %>
                    <div class="accion_fallaste">
                        fallaste
                    </div>
                    <% } else{ %>
                    <div class="accion_acertaste">
                        Acertaste!
                    </div>
                    <% } %>
                </div>
                <% } else{ %>
                    <% if(valor == "ningun amigo ha respondido"){ %>
                        <div class="amigo">
                            <div class="info_amigo">
                                <div class="fotoAmigo">
                                </div>
                                <div class="NombreAmigo">
                                    <%= valor %>
                                </div>
                            </div>
                        </div>
                    <% }else{ %>
                    <div class="amigo">
                        <div class="info_amigo">
                            <div class="fotoAmigo">
                            </div>
                            <div class="NombreAmigo">
                                <%= valor %>
                            </div>
                        </div>

                        <div class="accion_adivinar">
                            <form action="/preguntas/adivinar_nombre_otro" method="POST">
                                <input type="hidden" name="idPregunta" value= <%= idPregunta %>>
                                <input type="hidden" name="idUsuario" value=<%= clave%>>
                                <input type="submit" value="Adivinar">
                            </form>
                        </div>
                    </div>
                    <% } %>
                <% } %>
                <% } %>


            </div>

        </div>



    </div>
</body>

</html>